:root {
    --primary-color: #000;
    --secondary-color: #0bda6f;
    --tertiary-color: #dedede;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--primary-color);
    font-family: Helvetica, Arial, sans-serif;
    background-color: var(--tertiary-color);
}

/* Header / Nav */
header {
    padding: 30px 25px;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(111,111,111,1) 66%, rgba(222,222,222,1) 100%);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: cover;
    background-position: 100%;
    background-attachment: scroll;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 42px;
    color: var(--tertiary-color);
    margin: 0;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 1);
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: bold;
    font-size: 1.7vw;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 1);
    color: var(--tertiary-color);
}

header nav ul li a:hover {
    color: var(--tertiary-color);
    border-radius: 5px;
    text-shadow: none;
    background-color: rgb(222, 222, 222, 0.3);
    text-decoration: underline;
}



/* Footer */
footer {
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(222,222,222,1) 0%), rgba(111,111,111,1) 66%, rgba(0,0,0,1) 100%;
}

footer h2 {
    color: var(--secondary-color);
    font-size: 30px;
    margin: 0;
}

footer div {
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: var(--secondary-color);
}

/* section */
section {
    padding: 60px;
}

.hero {
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-wrap: wrap;
    background-attachment: fixed;
    background-position: 80%;
}

#aboutMe {
    display: flex;
    flex-flow: row wrap;
    padding-top: 110px;
}

#work {
    display: flex;
    flex-flow: row wrap;
    padding-top: 110px;
}

#contactMe {
    display: flex;
    flex-flow: row wrap;
    padding-top: 110px;
}

.sectionTitle {
    display: flex;
    flex-flow: column wrap;
    width: auto;
    justify-content:flex-start;
    align-content: stetch;
    height: auto;
    /* flex-grow: 1; */
    border: 1px solid;
    font-size: 30px;
}

.aboutMe {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 3;
    justify-content: space-around;
    border: 1px solid;
    width: 70%;
    padding-left: 2%;
}

.flexRow {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: auto;
    /* flex-grow: 3; */
    /* border: 1px solid; */
}

.workLinks {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 70%;
    /* float: right; */
    border: 1px solid;
}

.work1 {
    flex: 1 0 100%;
    align-self: auto;
    border: 1px solid;
    padding: 1%;
    overflow: hidden;
}

.work2 {
    flex: 50%;
    align-self: auto;
    border: 1px solid;
    padding: 1%;
    overflow: hidden;
}

.work3 {
    flex: 50%;
    align-self: auto;
    border: 1px solid;
    padding: 1%;
    overflow: hidden;
}

.work4 {
    flex: 50%;
    align-self: auto;
    border: 1px solid;
    padding: 1%;
    overflow: hidden;
}

.work5 {
    flex: 50%;
    align-self: auto;
    border: 1px solid;
    padding: 1%;
    max-height: fit-content;
    overflow: hidden;
    /* background-image: url(../images/runBuddy.jpg) no-repeat fixed; */
}

img {
    display: flex;
    object-fit: cover;
    width: 65vh;
    height: 20vh;
    z-index: -1;
}
